
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <!-- <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div> -->

  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

</ngx-spinner>
<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" routerLink="" *ngFor="let universite of universites">
          <span class="align-middle">A l'UNIVERSITE</span><br>
          <span class="align-middle text-danger-emphasis">{{universite.nom}}</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Pages
					</li>
          <li *ngFor="let action of navElements"  [class]="action==currentAction ? 'sidebar-item  active ' : 'sidebar-item' ">
              <a class="sidebar-link"  [routerLink]="action.route" (click)="changer(action.name)">
                <i class="align-middle bi bi-{{action.icon}}" data-feather="sliders" ></i> <span class="align-middle">{{action.title}}</span>
              </a>
          </li>

					<li class="sidebar-header">
						Gestions Des Personnels
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="ui-buttons.html">
              <i class="align-middle" data-feather="square"></i> <span class="align-middle">Professeurs</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="ui-forms.html">
              <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Administrateurs</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="ui-cards.html">
              <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Directions</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="ui-typography.html">
              <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Departements</span>
            </a>
					</li>

				</ul>

				<div class="sidebar-cta">
					<div class="sidebar-cta-content">
						<strong class="d-inline-block mb-2">En cas de Probleme</strong>
						<div class="mb-3 text-sm">
							Si Vous avez un quelconque probleme avec le systeme, Adresse de l'Admin
						</div>
						<div class="d-grid">
							<a  routerLink="" class="btn btn-primary">Contacter Admin</a>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
          <i class="hamburger align-self-center"></i>
        </a>

				<div class="navbar-collapse collapse ">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" routerLink="#" data-bs-toggle="dropdown">
                <i class="align-middle" data-feather="settings"></i>
              </a>

              <a class="nav-link dropdown-toggle d-inline-block d-sm-block" href="#" data-bs-toggle="dropdown"  *ngIf="users">
                <img src="assets/image/DIEZ2.jpg" class="avatar img-fluid rounded me-1" alt="{{users.name}}"  /> <span class="text-dark">{{users.name}}</span>
              </a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" ><i class="align-middle me-1" data-feather="user"></i> Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" routerLink="/login"> Deconnexion</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				<div class="container p-0">
					<div class="row">
						<div class="col-12">
							<!-- <div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Empty card</h5>
								</div>
								<div class="card-body">
								</div>
							</div> -->
              <router-outlet></router-outlet>
						</div>
					</div>

				</div>

			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
              <p class="mb-0">
                <a class="text-muted" href=""><strong>A l'Université</strong></a> 2023 - 2024 &copy;
              </p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="#" target="_blank">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#" target="_blank">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#" target="_blank">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#" target="_blank">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="../../../assets/js/app.js"></script>

</body>


<!-- <div class="main">
  <div class="Principale container-fluid h-100">
    <nav class="navbar navbar-expand-lg  bg-body-secondary" >

      <div class="container-fluid w-100">
        <a class="navbar-brand" >A L'UNIVERSITE</a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Petit Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Switch account</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

      <div class="row d-flex flex-md-row bg-body-secondary  " style="height: 82vh; ">
        <div class="col-md  sticky-md-top h-auto my-2" style="overflow: auto; ">
          <nav class="p-2 menu">
          <ul class="nav nav-pills">
              <li *ngFor="let action of actions">
                  <a   [routerLink]="action.route" (click)="setcurrentAction(action,action.name)"  [class]="action==currentAction ? 'btn btn-success nav-link active ' : 'btn btn-outline-success mb-1 my-1' "  style="font-size: x-small;" >
                  <i class="fa fa-{{action.icon}} text-success"></i>
                  {{action.title}}
                  </a>
              </li>
          </ul>
          </nav>

          <hr>
          <div class="dropdown sticky-bottom">
            <a href="#" class="d-flex w-100 align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="#" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>MyProfils</strong>
            </a>
            <ul class="dropdown-menu text-small shadow w-100" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="#">Voir plus</a></li>
              <li><a class="dropdown-item" href="#">Parametres</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Deconnecter</a></li>
            </ul>
          </div>
        </div>


        <div class="col-md-8 flex-grow-1 border-5 border-dark-subtle h-100" style="overflow: auto; ">

          <div class="bodyContenu">
            <router-outlet>

            </router-outlet>
          </div>

          <div class="footerContenu sticky-bottom bg-body-secondary">
            <app-contenu-footer></app-contenu-footer>
          </div>
        </div>

        <div class="col-md  sticky-md-top  h-auto" style="overflow: auto; ">
          <div class="option">
              <app-option></app-option>
          </div>
          <div class="row d-flex py-2 flex-column option">
              <ul class="nav navbar">
                  <li *ngFor="let cont of elementsName" class="m-2">
                      <a routerLink="{{cont.route}}" class="btn btn-light m-lg-auto " style="font-size: x-small;">
                      <i class="fa fa-{{cont.icon}} text-success"></i>

                      {{cont.title}}
                      </a>
                  </li>
              </ul>
          </div>

        </div>
      </div>

      <div class="row align-content-end sticky-md-bottom bg-dark-subtle">
        <div class="footer">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit fugit debitis aperiam aliquam corporis sint, consectetur repudiandae cupiditate? Delectus labore, autem sunt quae pariatur modi provident accusantium eum fugit veniam!
        </div>

      </div>
  </div>
</div> -->

