<div class="">
  <h5>
    Bienvenue sur votre Espace de telechargement et de Visionnage des cours
  </h5>
</div>
<div class=" container-fluid justify-content-center row"  *ngFor="let classe of dataGlobal" >

  <div class="card col-sm-12 col-lg-auto m-3 shadow-lg">
    <div class="card-title p-lg-1" >
      {{ classe.sigle }}
    </div>
    <div class="card-body">
      {{ classe.nom }}
    </div>
    <div class="card-footer text-center">
      <a class="btn btn-primary" (click)="listeModule(classe.id )" routerLink="/etudiant/Classe/Module">
        Voir Modules
      </a>
    </div>
  </div>
</div>
