

<script type="Java" src="script.js" async></script>



<div class="container bg-light bg-opacity-75 py-4 my-1">
  <form (submit)="saveCours()"  class="row" >
    <div class="mb-2 col-lg-6">
      <label class="form-label py-3" for="title">Titre:</label>
      <input class="form-control" type="text" id="title" [(ngModel)]="titre" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-2 col-lg-6">
      <label class="form-label py-3" for="subtitle">Sous Titre:</label>
      <input class="form-control" type="text" id="subtitle" [(ngModel)]="sous_titre" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-2 col-lg-12">
      <label class="form-label py-3" for="content">Content:</label>
      <!-- <textarea  class="form-control"  id="content" [(ngModel)]="contenu" name="content"></textarea> -->
      <div  class="main-container">

        <div class="editor-container editor-container_document-editor editor-container_include-minimap" #editorContainerElement>
          <div class="editor-container__menu-bar" #editorMenuBarElement></div>
          <div class="editor-container__toolbar" #editorToolbarElement></div>
          <div class="editor-container__minimap-wrapper">
            <div class="editor-container__editor-wrapper">
              <div class="editor-container__editor">
                <div #editorElement>
                  <ckeditor [editor]="Editor" [config]="config" [(ngModel)]="contenu" (change)="onChange($event)" [ngModelOptions]="{ standalone: true }" name="contenu" *ngIf="isLayoutReady" />
                </div>
              </div>
            </div>
            <!-- <div class="editor-container__sidebar editor-container__sidebar_minimap"><div #editorMinimapElement></div></div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="mb-2 col-12">
      <label class="form-label py-3" for="file">Fichiers:</label>
      <input class="form-control" type="file" value="assets/defeaultImage/FONDCOUR.png" (change)="onFileSelected($event)">
    </div>
    <div class="text-center col-12 my-2">
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
  </form>
  <div class="mb-2 col-lg-6" *ngIf="uploadProgress !== null">
    Progress: {{ uploadProgress }}%
  </div>
</div>
