<div class=" container justify-content-center row" >
  <div class="">
    <h2>
      La liste des modules
    </h2>
  </div>
  <div class="input-group col-6">
    <input type="text" class="form-control" placeholder="Tapez le nom du Module" aria-label="" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Affiche</button>
  </div>
</div>


<div class=" container-fluid justify-content-center bg-opacity-75 row">

  <div class="card col-sm-12 col-lg-auto m-3 shadow-lg" *ngFor="let module of modules">
    <div class="card-title p-lg-1" >
      <!-- {{ module.id }} -->
      {{ module.nom }} <sup>{{ module.code }}</sup>
    </div>
    <div class="card-body">
      {{ module.descriptions.description }}
    </div>
    <div class="card-footer text-center">
      <a class="btn btn-primary"  (click)="listeCour(module.id )" routerLink="/etudiant/Classe/Module/Cours">
        Voir Cours
      </a>
    </div>
  </div>
</div>
