

<div  class="table-responsive bg-light bg-opacity-75" >
  <table class=" table table-striped mb-0" id="tableEtudiant">
    <thead>
      <tr >
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col" class="d-none d-xl-table-cell">Email</th>
        <th scope="col" class="d-none d-xl-table-cell">Telephone</th>
        <th scope="col">Filiere</th><th scope="col" colspan="2">Editer</th>
      </tr>
    </thead>
    <tbody *ngFor="let et of Filieres" >
      <tr scope="row" style="font-size: small;">
        <td>{{et.nom}}</td>
        <td>{{et.prenom}}</td>
        <td class="d-none d-xl-table-cell" >{{et.email}}</td>
        <td class="d-none d-xl-table-cell" >{{et.telephone}}</td>
        <td  ><strong>{{et.sigle}}</strong></td>
        <td><button type="submit" class="btn btn-warning m-lg-auto " style="font-size: x-small;"  data-bs-toggle="modal" data-bs-target="#modifier" (click)="getEtudiantId(et.id)">Modifier</button></td>
        <td><button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#supprimer" style="font-size: x-small;" (click)="getEtudiantId(et.id)">supprimer</button></td>
      </tr>
    </tbody>
  </table>
</div>



<div class="container">
<!-- Pour la Modification d'un Etudiant  -->


  <form (ngSubmit)="updateEtudiant()"  class=" my-4" >

    <div class="modal fade" id="modifier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content row">

            <div class="modal-header">
              <h5 class="modal-title" id="modalUpdate">Modification</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">

              <div class="mb-2 col-lg-6">
                <label for="nom" class="form-label py-3"><strong>Nom</strong></label>
                <input required class="form-control" type="text" name="nom" id="nom" placeholder="Nom de l'Etudiant" [(ngModel)]="etudiantForm.nom">
              </div>
              <div class="mb-2 col-lg-6">
                <label for="Prenom" class="form-label py-3"><strong>Prenom</strong></label>
                <input required class="form-control" type="text" name="Prenom" id="Prenom" placeholder="Prenom de l'EtudiantForm" [(ngModel)]="etudiantForm.prenom">
              </div>
              <div class="mb-2 col-lg-6">
                <label for="Email" class="form-label py-3"><strong>Email</strong></label>
                <input required class="form-control" type="email" name="Email" id="Email" placeholder="Exemple@xyz.abc" [(ngModel)]="etudiantForm.email">
              </div>
              <div class="mb-2 col-lg-6">
                <label for="Adresse" class="form-label py-3"><strong>Adresse</strong></label>
                <input required class="form-control" type="text" name="Adresse" id="Adresse" placeholder="Bamako/rue:xxx/porte:abc" [(ngModel)]="etudiantForm.adresse">
              </div>
              <div class="mb-2 col-lg-6">
                <label for="Tel" class="form-label py-3"><strong>Tel</strong></label>
                <input required class="form-control" type="text" name="Tel" id="Tel" placeholder="00223 12 34 56 78" [(ngModel)]="etudiantForm.telephone">
              </div>
              <div class="mb-2 col-lg-6">
                <label for="Date_de_naissance" class="form-label py-3"><strong>Date de naissance</strong></label>
                <input required class="form-control" type="date" name="Date_de_naissance" id="Date_de_naissance" placeholder="Date de Naissance de l'etudiantForm" [(ngModel)]="etudiantForm.date_de_naissance">
              </div>
              <div class="mb-2 col-lg-6">
                <label for="Mot_de_passe" class="form-label py-3"><strong>Mot de passe</strong></label>
                <input disabled class="form-control" type="text" name="Mot_de_passe" id="Mot_de_passe" placeholder="Par defeaut 12345678" value="12345678" [(ngModel)]="etudiantForm.password">
              </div>
              <div class="mb-2 col-lg-6">
                <label for="login" class="form-label py-3"><strong>Login</strong></label>
                <input  class="form-control" type="text" name="login" id="login" [(ngModel)]="etudiantForm.login">
              </div>
              <div class="mb-2 col-lg-6" *ngFor="let universite of universites">
                <input required class="form-control visually-hidden"  type="text" name="universite_id" id="universite_id"  [(ngModel)]="etudiantForm.universite_id"> {{universite.nom}}
              </div>
              <div class="mb-2 col-lg-6"  *ngFor="let classes of listeFiliere" >
                <label for="Classe" class="form-label py-3"><strong>Classe</strong></label>
                <select id="Classe"  class="form-select" name="filiere" [(ngModel)]="etudiantForm.filiere_id">
                  <option selected>Veuillez Choisir La Classe</option>
                  <option  *ngFor="let classe of classes" [value]="classe.id"><strong>{{classe.nom}}</strong> ({{classe.niveau}})</option>
                </select>
              </div>
              <div class="mb-2 col-lg-6"  *ngFor="let classes of annee" >
                <label for="Classe" class="form-label py-3"><strong>Annee Scolaire</strong></label>
                <select id="annee"  class="form-select" name="annee_scolaire" [(ngModel)]="etudiantForm.annee_scolaire">
                  <option selected>Veuillez Choisir La annee</option>
                  <option  *ngFor="let annee of classes" [value]="annee.id"><strong>{{annee.annee}}</strong></option>
                </select>
              </div>

                <!-- <div class="mb-2 col-6">
                  <label for="nom" class="form-label">Nom</label>
                  <input class="form-control" type="text" name="Nom" id="nom" placeholder="Nom de l'Etudiant"  [(ngModel)]="etudiantForm.nom">
                </div>
                <div class="mb-2 col-6">
                  <label for="Prenom" class="form-label">Prenom</label>
                  <input class="form-control" type="text" name="Prenom" id="Prenom" placeholder="Prenom de l'Etudiant" [(ngModel)]="etudiantForm.prenom">
                </div>
                <div class="mb-2 col-8">
                  <label for="Email" class="form-label">Email</label>
                  <input class="form-control" type="email" name="Email" id="Email" placeholder="Exemple@xyz.abc" [(ngModel)]="etudiantForm.email">
                </div>
                <div class="mb-2 col-12">
                  <label for="Adresse" class="form-label">Adresse</label>
                  <input class="form-control" type="text" name="Adresse" id="Adresse" placeholder="Bamako/rue:xxx/porte:abc" [(ngModel)]="etudiantForm.adresse">
                </div>
                <div class="mb-2 col-6">
                  <label for="Tel" class="form-label">Tel</label>
                  <input class="form-control" type="text" name="Tel" id="Tel" placeholder="00223 12 34 56 78" [(ngModel)]="etudiantForm.telephone">
                </div>
                <div class="mb-2 col-6">
                  <label for="Date_de_naissance" class="form-label">Date de naissance</label>
                  <input class="form-control" type="date" name="date_de_naissance" id="Date_de_naissance" placeholder="Date de Naissance de l'etudiant"   [(ngModel)]="etudiantForm.date_de_naissance">
                </div>
                <div class="mb-2 col-12">
                  <label for="Mot_de_passe" class="form-label">Mot de passe</label>
                  <input class="form-control" type="text" name="mot_de_passe" id="Mot_de_passe" disabled [(ngModel)]="etudiantForm.password">
                </div> -->

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit"  class="btn btn-outline-warning" data-bs-dismiss="modal" >Modifier</button>
            </div>
        </div>
      </div>
    </div>


  </form>
</div>


<div class="container">
  <!-- Pour la suppression d'un Etudiant -->

  <div class="modal fade" id="supprimer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSuppression">Suppression</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Etudiant : <strong>{{etudiantForm.nom}} {{etudiantForm.prenom}}</strong><br>
          Voulez-vous vraiment supprimer cet etudiant ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" (click)="delete(etudiantForm.id,etudiantForm.filiere_id)" class="btn btn-danger" data-bs-dismiss="modal">Supprimer</button>
        </div>
      </div>
    </div>
  </div>

</div>
