<div class="bg-body-secondary row justify-content-between">
  <h5 class="h3 mb-3">Bienvenue sur la page Module </h5>
  <div class="nav-scroller col bg-body-secondary shadow-sm">
    <nav  class="nav nav-pills nav-fill"  aria-label="Secondary navigation">
      <a class="nav-link active" aria-current="page" routerLink="liste">Liste Modules</a>
      <a class="nav-link" routerLink="new">Nouvelle Module</a>
      <!-- <a class="nav-link" routerLink="etat"> </a> -->
      <a class="nav-link" routerLink="edit">Edition des Modules</a>
    </nav>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>
