<div class="container text-center">
  <h3>Bienvenue sur la page de la gestion des Classes</h3>
</div>
<div *ngIf="erreur" >
  <span class="text-danger accent-danger text-center colored">
    {{erreur.err}}
  </span>
</div>
<div class="container style-grid ">
  <a  class="card shadow-lg"   data-bs-toggle="modal" data-bs-target="#modifier" style="cursor: pointer;" >
    <div class="card-title text-center">
      <h6>COURS</h6>
    </div>
    <div class="card-body">
      <img src="..." class="img-thumbnail" alt="...">
    </div>
    <div class="card-footer"></div>
  </a>
  <a routerLink="Filieres" class="card  shadow-lg ">
    <div class="card-title text-center">
      <h6>FILIERES</h6>
    </div>
    <div class="card-body">
      <img src="..." class="img-thumbnail" alt="...">
    </div>
    <div class="card-footer"></div>
  </a>
  <a routerLink="Etudiants" class="card  shadow-lg ">
    <div class="card-title text-center">
      <h6>ETUDIANTS</h6>
    </div>
    <div class="card-body">
      <img src="..." class="img-thumbnail" alt="...">
    </div>
    <div class="card-footer"></div>
  </a>
  <a class="card  shadow-lg">
    <div class="card-title text-center">
      <h6>GESTION</h6>
    </div>
    <div class="card-body">
      <img src="..." class="img-thumbnail" alt="...">
    </div>
    <div class="card-footer"></div>
  </a>
</div>



<!-- La Partie Modal -->
<form [formGroup]="classeForm" (ngSubmit)="validation()"  class=" my-4" >

  <div class="modal fade" id="modifier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content row">

          <div class="modal-header">
            <h5 class="modal-title" id="modalUpdate">Veuillez Renseigner</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body container">

              <div class="mb-2 col-12">
                <label for="Classe" class="form-label">Classe</label>
                <select id="Classe" class="form-select" (ngModelChange)="OnClasseChange()" *ngFor="let classes of classeData"  formControlName="filiere_id"  >
                  <option class="ck-link_selected">Veuillez Choisir La Classe</option>
                  <option  *ngFor="let classe of classes" [value]="classe.id" ><strong>{{classe.nom}}</strong> ({{classe.niveau}})</option>
                </select>
              </div>

              <div class="mb-2 col-12">
                <label for="Module" class="form-label">Module</label>
                <select id="Module"  class="form-select" *ngFor="let modules of classeModule"  formControlName="module_id"  >
                  <option [value]="0">Veuillez Choisir Le Module pour la classe {{modules.sigle}}</option>
                  <option   *ngFor="let module of modules.modules" [value]="module.id" ><strong>{{module.nom}}</strong> ({{module.code}})</option>
                </select>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="submit"  class="btn btn-outline-warning" data-bs-dismiss="modal">Valider</button>
          </div>
      </div>
    </div>
  </div>


</form>
