<h5>Bienvenue sur la page de la gestion des filieres</h5>
<div class="sticky-top bg-body-secondary row justify-content-between">
  <div class="nav-scroller col bg-body-secondary shadow-sm">
    <nav class="nav" aria-label="Secondary navigation">
      <a class="nav-link active" aria-current="page" routerLink="/gestion">Accueil</a>
      <a class="nav-link active" aria-current="page" routerLink="liste">Liste des Filieres</a>
      <a class="nav-link" routerLink="">
        Details
      </a>
      <a class="nav-link" routerLink="new">Nouvelle Filiere</a>
      <!-- <a class="nav-link" routerLink="etat"> </a> -->
      <a class="nav-link" routerLink="newModule">Nouvelle Modules</a>
    </nav>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>
