
<div class="sticky-top bg-body-secondary row justify-content-between">
  <nav class="navbar navbar-light bg-light bg-opacity-75">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="liste">
        <img src="assets/image/DIEZ2.jpg" alt="Logo" height="24" class="d-inline-block align-text-top">
        Gestion des Filieres
      </a>
    </div>
  </nav>
  <div class="nav-scroller col bg-body-secondary shadow-sm">
    <nav  class="nav nav-pills nav-fill"  aria-label="Secondary navigation">
      <a class="nav-link active" aria-current="page" routerLink="/gestion">Accueil</a>
      <a class="nav-link"  routerLink="liste">Liste </a>
      <a class="nav-link" routerLink="new">New Filiere</a>
      <!-- <a class="nav-link" routerLink="etat"> </a> -->
      <a class="nav-link" routerLink="newModule">New Modules</a>
    </nav>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>
