
<div  class="table-responsive p-0  bg-light bg-opacity-75" >
  <table  class="table align-items-center mb-0">
    <thead>
      <tr>
        <th scope="col">Titre</th>
        <th scope="col" class="d-none d-xl-table-cell">Sous Titre</th>
        <!-- <th scope="col" class="d-none d-xl-table-cell">Aperçu</th> -->
        <th scope="col">Etat</th>
        <th scope="col" colspan="2">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr   *ngFor="let course of cours" >
        <td>{{ course.titre }}</td>
        <td class="d-none d-xl-table-cell">{{ course.sous_titre }}</td>

        <td>
          <!-- <select name="" id="">
            <option *ngIf="course.etat == 1" ><span  class="badge bg-success">Actif</span></option>
            <option *ngIf="course.etat == 0" ><span  class="badge bg-danger">Inactif</span></option>
            <option  *ngIf="course.etat == 0"  value=""><button type="submit" (click)="active(course.id)"  class="badge bg-success">Actif</button></option>
            <option  *ngIf="course.etat == 1"  value=""><button type="submit" (click)="desactive(course.id)"  class="badge bg-danger">Inactif</button></option>
          </select> -->
          <button  *ngIf="course.etat == 1" type="submit" class="btn btn-outline-primary m-lg-auto " style="font-size: x-small;" (click)="desactive(course.id)">Actif</button>
          <button  *ngIf="course.etat == 0" type="submit" class="btn btn-outline-danger m-lg-auto " style="font-size: x-small;" (click)="active(course.id)">Inactif</button>
        </td>
        <td><a  class="btn btn-warning m-lg-auto " style="font-size: x-small;" (click)="update(course.id)">Modifier</a></td>
        <td><button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#supprimer" style="font-size: x-small;" (click)="getCoursId(course.id)">supprimer</button></td>

      </tr>

    </tbody>
  </table>
</div>


<div class="container">
  <!-- Pour la suppression d'un Cours -->

  <div class="modal fade border-danger-subtle" id="supprimer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSuppression">Suppression</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Cours : <strong>{{Cour.titre}} </strong><br> Sous-Titre: <strong> {{Cour.sous_titre}}</strong><br>
          Voulez-vous vraiment supprimer cet Cours ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" (click)="delete(Cour.id)" class="btn btn-danger" data-bs-dismiss="modal">Supprimer</button>
        </div>
      </div>
    </div>
  </div>

</div>
