<div class="text-center">
  <h2>
    ici on va afficher les etudiants en fonction de leurs nom ou quelques chose de ce genre
  </h2>
</div>
<!-- Le resultats apres les recherches de leurs Noms sera affiché comme suite -->
<!-- <div class=" container-fluid style-grid">
  <div class="card  shadow-lg" *ngFor="let etudiants of etudiant">
    <div class="card-title p-lg-1" >
      <div>
        <img class="img img-thumbnail" src="#" alt="83vh">
      </div>
      <div>

        <strong>Etudiant N<sup>o</sup> : {{ etudiant.id }} <br></strong>
        <strong>Prenom :</strong>{{ etudiant.Prenom }} <br>
        <strong>Nom :</strong>{{ etudiant.Nom }}

      </div>
    </div>
    <div class="card-body">
      <strong>Classe : </strong>
      {{ etudiant.Adresse }}
    </div>
    <div class="card-footer">
      {{ etudiant.Email}} <br>
      <a class="btn btn-primary" routerLink="details">
        Savoir plus
      </a>
    </div>
  </div>
</div> -->

