<h5>Bienvenue sur la page des Etudiants </h5>
<div class="sticky-top bg-body-secondary row justify-content-between">
  <div class="nav-scroller col bg-body-secondary shadow-sm">
    <nav class="nav" aria-label="Secondary navigation">
      <a class="nav-link active" aria-current="page" routerLink="/gestion">Accueil</a>
      <a class="nav-link" routerLink="new">Nouveau</a>
      <a class="nav-link" routerLink="filiere">Liste</a>
    </nav>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>
