<div class="">
  <h2>
    La liste des Cours Pour le Module : <strong>{{modules.sigle}}</strong>
  </h2>
</div>
<table  class="table table-striped-columns border-1">
  <thead>
    <tr >
      <th scope="col">Chapitre</th><th scope="col">Titre</th><th scope="col">Modules</th><th scope="col" colspan="2">Voir</th>
    </tr>
  </thead>
  <tbody >
    <tr style="font-size: small;" *ngFor="let cour of cours">
      <td>{{cour.titre}}</td>
      <td>{{cour.sous_titre}}</td>
      <td><strong>{{modules.sigle}}</strong></td>
      <td>Voir contenu</td>
      <td>Telecharger Fichier</td>
    </tr>
  </tbody>
  <tfoot class="bg-body-tertiary">
    <tr>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td>D</td>
      <td>E</td>
    </tr>
  </tfoot>
</table>
