<div class="">
  <h2>
    La liste des Cours Pour le Module : ....
  </h2>
</div>
<table  class="table table-striped-columns border-1">
  <thead>
    <tr >
      <th scope="col">Chapitre</th><th scope="col">Titre</th><th scope="col">Modules</th><th scope="col" colspan="2">Voir</th>
    </tr>
  </thead>
  <tbody >
    <tr style="font-size: small;">
      <td>Chapitre I</td>
      <td>Introduction a la programmation d'Application Mobile</td>
      <td>IONIC</td>
      <td>Voir Texte</td>
      <td>Voir Fichier</td>
    </tr>
    <tr style="font-size: small;">
      <td>Chapitre II</td>
      <td>Mise en place de l'environnement de travail</td>
      <td>IONIC</td>
      <td>Voir Texte</td>
      <td>Voir Fichier</td>
    </tr>
    <tr style="font-size: small;">
      <td>Chapitre III</td>
      <td>Installation des dependences Extra-Framework</td>
      <td>IONIC</td>
      <td>Voir Texte</td>
      <td>Voir Fichier</td>
    </tr>
  </tbody>
  <tfoot class="bg-body-tertiary">
    <tr>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td>D</td>
      <td>E</td>
    </tr>
  </tfoot>
</table>
