<!--  -->

<table class="table table-hover my-0">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col" class="d-none d-xl-table-cell">Sous Titre</th>
      <!-- <th scope="col" class="d-none d-xl-table-cell">Aperçu</th> -->
      <th scope="col">Etat</th>
      <!-- <th scope="col" class="d-none d-md-table-cell" colspan="2">Options</th> -->
    </tr>
  </thead>
  <tbody>
    <tr   *ngFor="let course of cours" >
      <td>{{ course.titre }}</td>
      <td class="d-none d-xl-table-cell">{{ course.sous_titre }}</td>
      <!-- <td *ngIf="course.fichier">
        <div>
          <img *ngSwitchCase="'image'" [src]="course.fichier" alt="{{ course.title }}" >
          <video *ngSwitchCase="'video'" [src]="course.fichier" controls  width="200" height="100"></video>
          <audio *ngSwitchCase="'audio'" [src]="course.fichier" controls></audio>
          <object *ngSwitchCase="'pdf'" [data]="xss.bypassSecurityTrustResourceUrl(course.fichier)" type="application/pdf" height="100" width="200">
             <a class="btn btn-primary small" [href]="xss.bypassSecurityTrustUrl(course.fichier)" target="_blank">Telecharger PDF</a> 
          </object>
          <div *ngSwitchDefault>
            <a class="btn btn-primary small" [href]="xss.bypassSecurityTrustUrl(course.fichier)" target="_blank">Telecharger Fichier</a>
          </div>
        </div>
      </td> -->

      <td><span *ngIf=" course.etat==true" class="badge bg-success">Actif</span><span *ngIf=" course.etat==false" class="badge bg-danger">Inactif</span></td>


      <!-- <td *ngIf="course.fichier" class="d-none d-md-table-cell">
        <div>
          <object *ngSwitchCase="'pdf'" [data]="xss.bypassSecurityTrustResourceUrl(course.fichier)" type="application/pdf">
            <a class="badge bg-success" [href]="xss.bypassSecurityTrustUrl(course.fichier)" target="_blank">Voir Fichier</a>
          </object>
        </div>
      </td>
      <td *ngIf="course.fichier" class="d-none d-md-table-cell">
        <div>
          <a class="badge bg-warning" [href]="xss.bypassSecurityTrustUrl(course.fichier)" target="_blank">Telecharger Fichier</a>
        </div>
      </td> -->

    </tr>

  </tbody>
</table>
