/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* @import "app/sources/src/scss/app.scss"; */
/* @import "node_modules/bootstrap/dist/css/bootstrap.css";
@import "/node_modules/bootstrap/dist/css/bootstrap.rtl.min.css";
@import "/node_modules/bootstrap/dist/css/bootstrap-utilities.css"; */

.style-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
  background-color: rgba(236, 236, 236, 0.395);
  width: 100%;
}
.style-grid .card{
  min-height: 40vh;
}

.ck-editor__editable_inline {
  min-height: 500px;
}
