
<!-- <div *ngIf="erreur" >
  <span class="text-danger accent-danger text-center colored">
    {{erreur.err}}
  </span>
</div> -->
<div class="container style-grid  bg-light bg-opacity-75">
  <a  class="card shadow-lg"   data-bs-toggle="modal" data-bs-target="#modifier" >
    <div class="card-title text-center">
      <h6>Etudiants</h6>
    </div>
    <div class="card-body">
      <img src="..." class="img-thumbnail" alt="...">
    </div>
    <div class="card-footer"></div>
  </a>
  <a routerLink="liste" class="card  shadow-lg ">
    <div class="card-title text-center">
      <h6>FILIERES</h6>
    </div>
    <div class="card-body">
      <img src="..." class="img-thumbnail" alt="...">
    </div>
    <div class="card-footer"></div>
  </a>
  <a routerLink="" class="card  shadow-lg ">
    <div class="card-title text-center">
      <h6>MODULES</h6>
    </div>
    <div class="card-body">
      <img src="..." class="img-thumbnail" alt="...">
    </div>
    <div class="card-footer"></div>
  </a>
  <a class="card  shadow-lg">
    <div class="card-title text-center">
      <h6>GESTION</h6>
    </div>
    <div class="card-body">
      <img src="..." class="img-thumbnail" alt="...">
    </div>
    <div class="card-footer"></div>
  </a>
</div>
